head
  title Coin Sliding Font Puzzle
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="icon", href="/favicon.ico")
body
  +main

template(name="main")
  .modal#win
    h1 CONGRATS!!
    h1 YOU SOLVED THE PUZZLE!
    h1 (#{moves} moves for #{family}: #{start} &rarr; #{target})
    h2 Please submit your solution to the best scores list:
    p
      label(for="name")
        b Your name (optional, will be made public):
      input#name(name="name")
    p
      label(for="email")
        b Your email (optional, will not be made public):
      input#email(name="email")
    p
      button#submit Submit
      button#noSubmit Cancel

  .modal#highscores
    button.hideHighscores Close
    h1 Best scores for #{family}: #{start} &rarr; #{target}
    table
      tr
        th Number of moves
        th Solver
        th Date
      each highscores
        tr
          td= length
          td= name
          td= date
    p
    button.hideHighscores Close

  if puzzlesOn
    +puzzlesModal

  .header
    h1
      a(href=".") Coin Sliding Font Puzzle
    h2
      | by <a href="http://erikdemaine.org/">Erik&nbsp;Demaine</a> &amp; <a href="http://martindemaine.org">Martin&nbsp;Demaine</a>, 2018
  .clear

  //-table#data.noprint(width="100%")
    tr
      td
  .p.noprint
    b Puzzle family:
    div.nobreak
      input#font5x7(type="radio", name="font")
      label(for="font5x7") 5&times;7&nbsp;font (<i>medium</i>)
    div.nobreak
      input#font5x9(type="radio", name="font")
      label(for="font5x9") 5&times;9&nbsp;font (<i>hard</i>)
    button.showPuzzles.space All puzzles in family
  .p.noprint
    b This puzzle:
    | Move count to beat: #{highscore}
    button.showHighscores.space All scores for this puzzle

  table(width="100%")
    tr
      td(width="50%")
        .input
          label(for="start")
            b Start:
          select#start(name="start")
            +fontOptions
        .input
          b Moves:
          span#moves 0
        .input.buttons
          button#undo Undo
          button#reset Reset
      td &rarr;
      td(width="50%")
        .input
          label(for="target")
            b Target:
          select#target(name="target")
            +fontOptions
        .input
          b Reverse Moves:
          span#reverseMoves 0
        .input.buttons.right
          button#reverseUndo Undo
          button#reverseReset Reset
    tr
      td(width="50%")
        #startsvg
      td
      td(width="50%")
        #targetsvg

  hr.noprint

  p.noprint <b>2,664 coin-sliding font puzzles.</b> These puzzles are based on two fonts, each with 37 characters (letters, digits, and slash).  For each pair of characters (say, A and B), the goal is to re-arrange the first character (A) into the second (B) by a sequence of moves.  Each move picks up one coin and places it in an empty grid cell that is <b>adjacent to at least two other coins</b> (the &ldquo;2-adjacency&rdquo; rule).  In addition to solving the puzzle, the goal is to minimize the number of moves.

  p.noprint <b>Related research.</b> <a href="http://erikdemaine.org/papers/GameTheory2000">Demaine, Demaine, and Verrill</a> analyzed this type of coin-sliding puzzle in 2000.  They gave a polynomial-time algorithm to solve (when possible) all puzzles on the triangular grid and most puzzles on the square grid (in particular, all of these puzzles) using a polynomial number of moves.  However, we still don't know the <i>best</i> (fewest-moves) way to solve these puzzles.

  p.noprint <b>Puzzle game.</b> Here you can try your hand at solving all 2,664 puzzles.  Select a font (5&times;7 or 5&times;9), then choose a puzzle from &ldquo;All puzzles in family&rdquo; or using the &ldquo;Start&rdquo; and &ldquo;Target&rdquo; dropdowns.  <b>Drag coins to make moves</b>.  If you get stuck, you can &ldquo;Undo&rdquo; move by move, or &ldquo;Reset&rdquo; to the beginning.  You can make <b>reverse moves</b> (moving a coin adjacent to two others to <i>any</i> grid square) by dragging coins on the target (right) configuration.  When you solve a puzzle (the left and right configurations match), you can post your score (number of moves) along with your name and/or email (if you want).  Help us find good solutions to all the puzzles!

  p.noprint <b>Font.</b> You can also write messages in these fonts using <a href="http://erikdemaine.org/fonts/coinsliding/">our associated font app</a>.  See also <a href="http://erikdemaine.org/fonts/">other mathematical and puzzle fonts</a>. &bull; Feedback or not working?  <a href="mailto:edemaine+coinsliding@mit.edu">Email Erik</a>.

template(name="fontOptions")
  option(value="/") /
  option(value="A") A
  option(value="B") B
  option(value="C") C
  option(value="D") D
  option(value="E") E
  option(value="F") F
  option(value="G") G
  option(value="H") H
  option(value="I") I
  option(value="J") J
  option(value="K") K
  option(value="L") L
  option(value="M") M
  option(value="N") N
  option(value="O") O
  option(value="P") P
  option(value="Q") Q
  option(value="R") R
  option(value="S") S
  option(value="T") T
  option(value="U") U
  option(value="V") V
  option(value="W") W
  option(value="X") X
  option(value="Y") Y
  option(value="Z") Z
  option(value="0") 0
  option(value="1") 1
  option(value="2") 2
  option(value="3") 3
  option(value="4") 4
  option(value="5") 5
  option(value="6") 6
  option(value="7") 7
  option(value="8") 8
  option(value="9") 9

template(name="puzzlesModal")
  .modal.show#puzzles
    button.hidePuzzles Close
    h1 All puzzles in family #{family}:
    table
      tr
        td
        th(colspan="27") target
      tr
        td
        each letter2 in letters
          th #{letter2}
      each letter1 in letters
        tr
          th #{letter1}
          each letter2 in letters
            td
              if sameLetter letter1=letter1 letter2=letter2
                span.zero 0
              else
                a(href="/?start={{letter1}}&target={{letter2}}&{{family}}=1") {{record letter1=letter1 letter2=letter2}}
    p
    button.hidePuzzles Close
